[2018-08-27 01:12] shoorlyne opened #1 "Add some documentation?"
Hi there!

Could you please add some docs on how to install/use this project and the status of the project, so that we can kick the tires?

Thanks!

[2018-10-21 19:46] joe-re commented on #1
@shoorlyne hi, I'm really sorry for your reply..
I published this today, please read REAMDME.md.
thanks

[2018-10-21 19:46] #1 closed

[2018-10-24 13:05] maixiu opened #2 "README.md, Installation & How to setup"
should be written **Installation & How to setup**

[2018-10-25 00:01] #2 closed

[2018-11-27 18:52] auchenberg opened #5 "Your VS Code extension is affected by event stream and have been blocked"
Hi,

Kenneth here from the VS Code team.

Your extension is affected by https://code.visualstudio.com/blogs/2018/11/26/event-stream, and we have blocked your extension.

In order to enable your extension again the workflow is:

1) Fix the extension, submit an update to the marketplace
2) Send mail to VSMarketplace@microsoft.com and kennau@microsoft.com and notify us.
3) We will verify that the ext

[2018-11-28 09:47] joe-re commented on #5
@egamma
Thank you for your suggestion!
It's definitly just my mistake.

fixed by https://github.com/joe-re/sql-language-server/pull/6

[2018-11-30 02:52] lybest opened #8 "how to start this in vscode"
after installing this extension in vs code, I don't know where to exec "SQL-language-server up"?

[2018-11-30 17:52] joe-re commented on #8
@lybest
Sorry, it didn't work for a few days due to my fault..
I fixed the problem and released 0.0.7.

Now you should be able to run language server automatically just you install it.
Please try again. Thank you.

[2019-05-25 21:53] QuadeMorrison opened #9 "Message sent without Content-Length header"
https://github.com/joe-re/sql-language-server/blob/3ba1d15c603b0a6e555be28a3fb7bee2e819c647/packages/server/bin/cli.ts#L24

It seems the protocol expects that messages are sent with the Content-Length header. Because this message is sent without it, it has prevented me from using a client (coc-nvim) with this language server, which expects to receive the above header with every message.

[2019-06-19 19:26] joe-re commented on #9
@QuadeMorrison I haven't used coc-nvim but have you got any error messages?

[2019-11-26 10:58] CGNonofr commented on #9
Same issue, and another one in complete.ts:

`console.log(JSON.stringify(candidates))`

[2019-12-13 09:07] mattn commented on #9
You can use workarround for this. Add below's line into first line of ~/.npm/bin/sql-language-server.

[code]

[2020-01-24 13:43] mattn commented on #9
ping @joe-re

Currently, `--method stdin` always stop initialize. Can you fix this?

[2020-01-25 03:18] joe-re commented on #9
@mattn ok, I'll look into it. Thank your for your reporting.

[2020-01-26 17:45] #9 closed

[2020-01-26 17:53] joe-re commented on #9
@mattn released fixed version, please try it with latest one. thanks.

[2020-01-27 04:09] mattn commented on #9
Works fine. Thank you.

[2020-01-27 05:05] tyru opened #11 "Error in "UPDATE ... JOIN" statement"
https://www.mysqltutorial.org/mysql-update-join/

[code]

[code]

[2020-02-03 10:50] joe-re commented on #11
@tyru
sorry, right now sql-language-server supports only SELECT statement..
I have a plan to deal with it though..
Thank you.

[2020-05-14 06:38] FunctionRun opened #12 "Message: Request textDocument/completion failed with message: Cannot read property 'start' of undefined"
VSCode Version: 1.44.2

I open .sql file ，input words ，then OUTPUT throw error

[code]

[2020-05-16 05:20] joe-re commented on #12
@FunctionRun Thank you for reporting! I'll deal with it.

[2020-05-17 00:58] joe-re commented on #12
@FunctionRun I've released v0.2.6. Can you update it and try again?
If problem's not solved, can you share me example sql that can repro problem?

[2020-05-17 18:44] #11 closed

[2020-05-17 19:09] joe-re commented on #11
fixed by #19
@tyru Can you check it with latest version of language server? Thank you.

[2020-05-31 18:10] joe-re commented on #12
I'll mark it complete. If problem is persistence feel free reopen it.

[2020-05-31 18:10] #12 closed

[2020-06-23 02:36] joe-re opened #30 "Support sqlite"
Some users have a request for using sqlite.

[2020-06-23 07:23] joe-re opened #31 "Parsing error for select statement inside insert statement"
example:

[code]

[2020-06-24 12:16] #31 closed

[2020-06-25 19:52] joe-re opened #33 "Enable to show table details"

[2020-06-27 17:55] #30 closed

[2020-06-28 12:15] joe-re opened #35 "It doesn't complete FROM keyword"
![image](https://user-images.githubusercontent.com/4954534/85947258-181f2900-b97c-11ea-951a-d6cd91b3514f.png)

[2020-06-29 07:00] zjuyxy opened #36 "sqlint exception"
The same .sqlintrc.json content both in project folder and personal folder as:
{
    "rules": {
      "align-column-to-the-first": 0,
      "column-new-line": 0,
      "linebreak-after-clause-keyword": 0,
      "reserved-word-case": [0,"upper"],
      "space-surrounding-operators": 0,
      "where-clause-new-line": 0
    }
  }

It's a bit of wired that this error only appears twice.

Error: No fil

[2020-06-29 08:04] joe-re commented on #36
@zjuyxy Thank you for your report! I'll take a look.

[2020-07-05 22:02] #36 closed

[2020-07-05 22:04] joe-re commented on #36
@zjuyxy Hi, I've fixed it. Actually this error happened when the text was empty and it didn't affect to working itself. (That is why you only see this error twice.)
If you find something wrong more please reopen it.
Thanks.

[2020-07-05 22:50] #35 closed

[2020-07-05 23:34] joe-re opened #40 "[SQLint] add lint rule always using AS to rename columns"
Good:
[code]

Bad:
[code]

[2020-07-06 11:02] rcjsuen opened #41 "Add development instructions to README.md"
The [current `README.md`](https://github.com/joe-re/sql-language-server/blob/506b699eb39ad22d47829d76cbd5b9b6ec6e85f9/README.md) file does not have any instructions about how to get a development environment setup.

[2020-07-06 12:23] joe-re commented on #41
Note: also need to try to build it on a Windows machine.
Seems it has failed for some reason..

[2020-07-15 19:06] #41 closed

[2020-07-21 04:11] #40 closed

[2020-08-03 23:23] joe-re opened #47 "[SQLint] add lint rule to show warning message when it's using not existing column name"

[2020-08-03 23:24] joe-re opened #48 "Enable to choose UPPER CASE or lower case to complete keywords and column names"

[2020-08-03 23:58] joe-re opened #49 "[SQLint] Be explicit when joining for `JOIN` keyword"
refer: https://about.gitlab.com/handbook/business-ops/data-team/platform/sql-style-guide/#joins

`JOIN` will work for `INNER JOIN` as default.

[code]

[code]

[2020-08-04 00:00] joe-re opened #50 "[SQLint] Specify the order of a join with the FROM table first and JOIN table second:"
refer: https://about.gitlab.com/handbook/business-ops/data-team/platform/sql-style-guide/#joins

[code]

[code]

[2020-08-04 00:13] joe-re opened #51 "support CTE"
refer: https://about.gitlab.com/handbook/business-ops/data-team/platform/sql-style-guide/#use-ctes-common-table-expressions-not-subqueries

[2020-08-04 00:16] joe-re opened #52 "[SQLint] DISTINCT should be included on the same row as SELECT"

[2020-08-09 17:39] joe-re opened #53 "Failed to parse subquery on where clause"
[code]

[2020-08-18 12:46] zjuyxy commented on #53
I still got the same error with 0.11.3 version in sqlite3.

[2020-08-19 04:15] joe-re commented on #53
@zjuyxy Thanks for your report. I'll investigate it.

[2020-08-19 19:09] joe-re commented on #53
@zjuyxy Released v0.11.4 to fix the problem. Can you try it again with it?

[2020-08-21 12:36] zjuyxy commented on #53
0.11.4 works fine.

[2020-08-26 04:56] #53 closed, assigned to nobody

[2020-08-27 10:41] zilti opened #55 "Support VSCodium"
That is all I get when trying to use this in VSCodium. I did create a .sqllsrc.json file in my project root. I also tried creating a personal config file as well, but that didn't change anything.

[2020-08-29 11:06] krassowski opened #56 "Support Node10"
When being used with sqlite3. Some diagnostics do work (`Expected "--", "/*", "FROM", "GROUP", "LIMIT", "ORDER", "UNION", "WHERE", [ \t\n\r], or end of input but "X" found.`) but most frequently it just throws this error.

[code]

This happens at:

[code]

The example `_diagnostics` content is:

[code]

The diagnostics is just an empty array: `[]`.

[code]

results in:

[code]

which does not have

[2020-08-30 22:02] joe-re commented on #55
@zilti Hi, thank you for your report.
Can you share us some example of config file that you're trying to?

[2020-08-30 22:07] joe-re commented on #56
@krassowski Hi, thank you for your report.
I'll have a plan to deal with node 10.

[2020-08-30 23:02] joe-re opened #59 "Support colorize"
Probably tree-sitter can be an option? https://github.com/tree-sitter/tree-sitter

[2020-08-30 23:14] joe-re commented on #55
@zilti ~I confirmed, for now, it doesn't work on VSCodium.~
~I'll try to fix it. Thanks for your report.~

[2020-08-30 23:36] joe-re commented on #55
@zilti

Sorry the above was my mistake.
I tried it again and it worked to me.
The message of "Need to set personal config file at first" is only shown when you try to switch database connection.
Could you confirm that personal config file location is correct?

The example of my env:
[code]

[2020-09-03 07:10] love4myxsg commented on #59
Can we have a full example in <coc-settings.json>
  It seems new lint rules is not effective with following settings:
  (a)
    "sql": {
      "command": "sql-language-server",
      "args" : ["up", "--method", "stdio"],
      "filetypes": ["sql", "mysql"],
      "rules": {
        "reserved-word-case": ["error", "lower"],
        "linebreak-after-clause-keyword": "off"
      }

  (b)
    "sql": {

[2020-09-03 10:45] joe-re commented on #59
@love4myxsg Hi, thank you for your report.
Unfortunately, we haven't dealt with coc.nvim yet.
We'll have plans to deal with it. Thanks.

[2020-09-03 10:46] joe-re opened #61 "Support coc.nvim"
https://github.com/neoclide/coc.nvim

#59

[2020-09-04 00:28] love4myxsg commented on #61
Can we have a full example in <coc-settings.json>
It seems new lint rules is not effective with following settings:
(a)
"sql": {
"command": "sql-language-server",
"args" : ["up", "--method", "stdio"],
"filetypes": ["sql", "mysql"],
"rules": {
"reserved-word-case": ["error", "lower"],
"linebreak-after-clause-keyword": "off"
}

(b)
"sql": {
"command": "sql-language-server",
"args" : ["up", "--method

[2020-09-04 00:40] love4myxsg commented on #61
Appreciate for your hardworking.
and Sqlite3 support is a fantastic idea!
One senarios I can image:
  (a)Firstly, export any DB's struture into Sqlite3,
  (b)Then, connect to local Sqlite3,  and completion works for any "SQL" programming with incredible speed,
  maybe better than SQL developer itself (due to slow connection with remote server)
  , am I right?
But, I can not make sqlite3 connection

[2020-09-04 00:46] joe-re commented on #61
@love4myxsg Hi, thank you for your feedback.

(a)Firstly, export any DB's struture into Sqlite3,
(b)Then, connect to local Sqlite3, and completion works for any "SQL" programming with incredible speed,
maybe better than SQL developer itself (due to slow connection with remote server)
, am I right?

I think that should depend on developers.
Actually I've not heard about that usage yet, but it's pos

[2020-09-04 01:20] love4myxsg commented on #61
FYI:
  following coc setting is working curretnly:
    "sql": {
      "command": "sql-language-server",
      "args" : ["up", "--method", "stdio"],
      "filetypes": ["sql", "mysql"],
    }

  only support default lint support.
  not support others like connections to DB and completion.

[2020-09-08 00:19] #61 closed, assigned to nobody

[2020-09-08 00:57] joe-re commented on #61
@love4myxsg We released v0.12.0 which supports workspace/configuration.
Please refer [this](https://github.com/joe-re/sql-language-server#example-of-workspace-configuration) to get to know how to use it.
If you find something wrong tell us freely, thanks.

[2020-09-24 19:46] yngwi opened #63 "Problem running in nvim_lsp"
Hi,
I'm trying to use your language server with the native `nvim_lsp` client. I have set the configuration according to `nvim-lspconfig` and have a project `.sqllsrc.json` in my project directory. The project uses PostgreSQL. As far as I can tell is the server being started, the log looks like this:

[code]

My file starts like this:

[code]

This is valid code for PostgreSQL so do you have an ide

[2020-09-25 23:54] otreblan commented on #56
It also happens with node 14.

[2020-09-29 01:00] joe-re commented on #63
@yngwi Hi, thank you for your report.
Unfortunately right now we don't support `CREATE EXTENSION` syntax.
We'll have a plan to deal with it, thanks.

[2020-09-29 05:01] yngwi commented on #63
Thank you

[2020-10-01 02:15] nkhlmn opened #64 "'A linebreak is required...' lint error incorrectly showing with nvim lsp"
Using this with nightly neovim and the completion-nvim plugin. I get this lint error for every keyword regardless of whether there is a new line or not.

<img width="483" alt="Screen Shot 2020-09-30 at 6 54 17 PM" src="https://user-images.githubusercontent.com/34255347/94757251-8d6d1200-034e-11eb-8555-75233eaff5ce.png">

I have the following in my init.vim:

[code]

[2020-10-01 18:17] joe-re commented on #64
@nkhlmn Thanks for your report. I'll deal with it.

[2020-10-11 19:17] joe-re commented on #64
@nkhlmn Hi, I just tested it with my Neovim environment and seems it works to me.
My settings are here.

[code]

When you reopen or write a file, that error state does not rerender?

[2020-11-01 00:41] quantum-booty commented on #48
This would be nice feature!

[2020-11-09 16:15] xr1s opened #65 "sql-language-server did not work for mysql databases"
The module `mysql2/promise` breaks my sql-language-server in my server.

I'm using vim with coc.nvim, and found exception as follows:

[code]
After fixing (compilation output JS) codes the sql-langauge-server works correctly for me. I did not test following typescript patches, it's just a demostration.
[code]

[2020-11-18 23:54] joe-re commented on #65
@xr1s
Thanks for your report! Let me take a loot it.

[2021-06-30 01:27] Doc999tor opened #66 "npm sqlint package misleads to sql-language-server repo"
`npm i -g sqlint` installs `sqlint` cli package which is not related (as far as I can see) to `sql-language-server`
If it does, pls check what is going on there (the package fails to parse simple sql code)

https://www.npmjs.com/package/sqlint

[2021-06-30 14:58] atomdmac opened #67 "Multiple SQL Statements Per File"
When working on a local SQL file with this context:

[code]
I get the following error:
[code]

This is using the NVIM 0.5 nightly build with `vim-lsp`.

Is this expected?  And if so, is there a way to allow for multiple SQL statements in a single file like this?

[2021-07-01 22:45] HalfMillennium opened #68 "Add BigQuery to supported DBs?"
Has anyone thought about extending this language server to support BigQuery as well?

I've looking into how I might develop a language server for BQ, and I stumbled upon this repo. Would it be simpler to develop my own from scratch or simply extend this one?

[2021-07-03 02:05] cccs-jc opened #69 "Unable to change configuration when using JupyterLab"
I've installed sql-language-server and I'm able to use it both in VSCode and in JupyterLab.

In both environment I'm able to see the diagnostic errors and the completion of keywords such as SELECT, FROM, WHERE.

However in JupyterLab I'm not able or don't know how to configure sql-language-server to connect to a sqlite3 sample database in order to benefit from the completion of the table/column na

[2021-07-13 18:22] HalfMillennium opened #70 "Unable to configure development environment"
For the past few days, I've been trying to get a development environment up and running on my local machine, but I can't quite seem to get it working. After cloning the repo, and ensuring that Docker is properly installed, I receive the following error.

[code]

I then tried installing run-p with `npm install run-p`, but this only leads my down an endless rabbit hole of installing npm packages, an

[2021-07-28 11:46] yangdengcheng opened #71 "Help!"
How to fix this problem??!!

![image](https://user-images.githubusercontent.com/33214847/127317005-2e970fdd-3650-4269-94da-aa7a5d90ceb0.png)

[2021-08-01 00:19] schmeic opened #72 "troubleshooting?"
Hi, this extension does not appear to be working at all for me. I've configured a connection, and see it when I try and change connection, but when I edit an sql file I get no autocomplete.  Any suggestions for how to troubleshoot this?

[2021-08-20 08:36] joe-re commented on #71
@yangdengcheng Hi, thank you for raising the issue.
Currently, I'm working on trying to identify the problem.
If you can share with us something reproducible example repo, that would be really helpful for us. Thanks.

[2021-08-20 10:42] joe-re commented on #71
@yangdengcheng Hi, I've updated dependencies and dev scripts. Can you try it with the latest release branch? Thanks.

[2021-08-20 10:43] joe-re commented on #72
@schmeic May I know your OS and VSCode version?

[2021-08-20 10:46] joe-re commented on #70
@HalfMillennium Hi, thanks for raising it.
I've updated dependencies, can you try with the latest release branch?
If it doesn't work, can you try to `yarn install` on your local machine, then `docker-compose up` again?

[2021-08-20 10:49] joe-re commented on #69
Hi, @cccs-jc .
Thanks for asking this. It's very interesting.
Unfortunately I'm not familiar with JupyterLab, I need time to figure how it does.
I'll try it when I have time though, if you have any further information, please share us, thanks.

[2021-08-20 10:50] joe-re commented on #68
@HalfMillennium Hi, thanks for asking. I understand BigQuery has its own UI to execute queries though, may I know your use-case? Thanks.

[2021-08-20 11:26] #65 closed, assigned to joe-re

[2021-08-20 18:42] schmeic commented on #72
Linux Mint 20.2,  vscode 1.59.1

[2021-08-23 17:01] cccs-jc commented on #69
hey @joe-re
I have figured it out. Turned out to be small fixes after all. I'll make a PR.

I've also added many features which I would love to contribute back. I'll crete another issue to discuss this. Sounds good?

[2021-08-24 05:54] joe-re commented on #69
@cccs-jc Hi, of course! It's always welcome!

[2021-08-25 20:54] cccs-jc opened #75 "Proposal to support json adapter"
sql-language-server currently supports 3 types of adapters

- MySQL
- PostgreSQL
- SQLite3

In this fork I have implemented a forth `adapter` named `json`. The idea is to load a schema from an external file. For platform like spark this is very useful because users can create tables in their own spark environment. Also it is difficult to configure the spark driver in sql-language-server the same w

[2021-08-26 00:12] joe-re commented on #75
@cccs-jc Hi, thanks for raising this discussion and sharing your idea!
I've looked through it and, felt that's so cool!
Actually, adding something adapter to read schema information from a file is that I've also thought it before, so direction is completely no prob to me.
Please go ahead and if I can help something, please feel free to ask me, thanks!

[2021-08-26 02:26] joe-re commented on #66
@Doc999tor sqlint is a part of sql-language-server module, which is for linting.
sqlint itself is providing cli IF for only linting.
For the part of failing case that you've mentioned, please share us simple example and if you can see anyerrors, please share it us also.
I'll mark this as complete, if you have any problems please feel free to create a new issue, thanks.

[2021-08-26 02:26] #66 closed, assigned to nobody

[2021-09-13 16:08] cccs-jc opened #80 "Issue building vscode extension"
@joe-re In my pull request you will see that I've added a dependency on CompletionTriggerKind.

I can build the server and test it with JupyterLab no problem using this build command
[code]

I would now like to build it for vscode using this command.
[code]

However I get this error
[code]

I'm not familiar with what rollup does but I suspect the issue might be with that script. Any help would be

[2021-09-20 22:39] joe-re commented on #80
@cccs-jc I think I have an idea to fix the above error. I'll work on it after merged your PR to release the new version. Thanks for your report!

[2021-09-25 11:11] jasminediaconu opened #84 "Issue with running Monaco example with docker connection"
Hey, I was trying to run both the monaco example and docker to have the db connection but I don't seem to get it work.
I tried to run:
1. `yarn install`
2. `docker-compose up`
3. `yarn && yarn dev`

And also:
1. `yarn install`
2. `yarn && yarn dev`
3. `docker-compose up`

However I see both docker and the editor are trying to connect to port 3000 and that gives me an error. I tried to change the p

[2021-09-30 21:13] Iron-E commented on #64
I am using the same config you show above, but I get this:

![cap](https://user-images.githubusercontent.com/36409591/135530969-3ee370a7-5a3c-4577-9aa6-2a226d57cfe8.png)

[2021-10-01 00:50] joe-re commented on #84
@jasminediaconu HI, thanks for your report. Is there any error on localhost:3000? Is it 404 error?

[2021-10-01 00:52] joe-re commented on #64
Hi, thanks for your report.
May I know SQL that you're trying to?

2021年10月1日(金) 6:13 Iron-E ***@***.***>:

[2021-10-01 00:53] joe-re commented on #64
@Iron-E
Hi, thanks for your report.
May I know SQL that you're trying to?

[2021-10-01 00:55] Iron-E commented on #64
Thanks for the fast response! It happens for MySQL and PgSQL as well as Oracle (but I don't know if you support that onel.

[2021-10-01 01:21] joe-re commented on #64
@Iron-E Sorry, I meant your SQL example that is failed to parse.(Because your error is not a DB connection error but the parser failed to parse it.)
Since it's not a connection error, no matter for DB vendor.
Thanks.

[2021-10-01 01:28] Iron-E commented on #64
Ah, gotcha. In that case, here's an example PgSQL snippet that reproduces it for me:

[code]

I have to double check but I think even `CREATE TABLE location ();` does it as well.

Related to #63 and #67?

[2021-10-01 06:33] jasminediaconu commented on #84
Hi @joe-re thanks for the reply, I get a different error on localhost:3000![image](https://user-images.githubusercontent.com/28813718/135576008-6b40048d-bf01-473d-a971-c83ca2cd4d05.jpeg)

[2021-10-10 07:42] joe-re commented on #84
@jasminediaconu Hi, I've fixed some issues for dev docker. Please update your local repo to the latest and try it again.
If problem's persistent, please feel free to reopen this issue. Thanks.

[2021-10-10 07:42] #84 closed, assigned to joe-re

[2021-10-11 00:04] joe-re commented on #80
fixed by https://github.com/joe-re/sql-language-server/pull/88. Thanks

[2021-10-11 00:04] #80 closed, assigned to joe-re

[2021-10-11 03:46] shizuku opened #89 "Error occur when installing via npm"
I install sql-language-server using command `npm i -g sql-language-server` in order to use in `neovim` with `coc.nvim`.

There are some error occur:
[code]

os: Archlinux
node: 16.9.0 (from volta)
npm: 7.24.1

[2021-10-11 03:55] joe-re commented on #89
@shizuku Hi, thanks for your report. It looks like sqlite3 and node-gyp problem to build a binary file.
Can you make sure that you can install sqlite3 itself, by `npm install sqlite3 -g` ?

[2021-10-11 04:44] shizuku commented on #89
thank you, i tried `npm install sqlite3 -g`, which got ERROR too:
[code]
Howerver, i tried `yarn global add sqlite3` and `yarn global add sql-language-server`, which works.

 I dont't know why but it seems solved by using `yarn`.

[2021-10-11 05:30] joe-re commented on #89
@shizuku Seems like npm@7.x.x causes the problem. https://github.com/nodejs/node-gyp/issues/508
I'm not sure the problem is still persistent or not since I can install sqlite3 by using npm@7.0.14.
Probably updating npm version(or downgrade) may fix the problem.
If this problem is solved for you, please close this issue. Thanks.

[2021-10-12 14:38] shizuku commented on #89
@joe-re It seems not work by using npm@7.0.14, too. npm@6.14.15 got much errors but seems installed sucessfully. I think it solved by using `yarn`. so i will close this issue.

[2021-10-12 14:38] #89 closed, assigned to nobody

[2021-10-12 19:28] #71 closed, assigned to nobody

[2021-10-17 16:51] #70 closed, assigned to nobody

[2021-10-17 20:17] joe-re commented on #64
@Iron-E Sorry for my late reply. Yes, you're right.
Right now I'm working on dealing with CREATE TABLE statement #91.
Please give us more a little time to release, thanks.

[2021-10-29 18:57] forivall commented on #51
Also see [postgres docs](https://www.postgresql.org/docs/9.6/queries-with.html) - they're also known as "with" expressions (as that's what i searched for). I was hoping to have "go to definition" for the aliases in a CTE, alas, not yet supported here.

[2021-11-05 21:50] cccs-jc opened #94 "Debug Instructions"
Hey @joe-re

I'm trying to debug the sql-language-server extension inside VSCode. I see there are 2 launch configurations. One for the VSCode client and one to attach to the sql-language-server node process on port 6009.

I'm able to attach to the server on port 6009 however I can't set breakpoints inside the .ts files. The breakpoints are "unbound".

Wondering how I could step through the sql-lan

[2021-11-14 23:43] joe-re commented on #94
@cccs-jc Hi, thanks for your report. It doesn't seem to work for some reason since some point. Let me try to fix that. Thanks 🙏

[2021-11-20 10:26] wesselvdv opened #97 "Use pg_query for parsing instead of peg.js"
Have you ever heard/seen/read of [pg_query (2.0)](https://pganalyze.com/blog/pg-query-2-0-postgres-query-parser)? There’s a npm module ([psql-parser](https://github.com/pyramation/pgsql-parser)) that allows it to be used, and it might be a good fit instead of the parser generated by peg.js this library uses.

I would think that it would allow for more easier support of certain statements, and mayb

[2021-11-20 12:22] joe-re commented on #97
@wesselvdv Thanks for your suggestion.
Actually, I've thought about some existing parsing library though, there's some requirements for a parser.
I'm not familiar with pg_query and don't know it provides it or not yet though, let me explain the biggest one.
If you're familiar with it and have some information to resolve this, please share us!

It should return parsing results even if it's given in

[2021-11-20 12:59] wesselvdv commented on #97
@joe-re I clearly lack the experience/knowledge for building an language server implementation, so thanks for the pointers. I have been looking for a viable DataGrip alternative for a while, and the biggest show stoppers are a missing prettifier and lsp implementation that can provide (`tables`, `columns`, `procedures`, `functions`, `types`, `schemas`, `domains`, etc.) Most I can find only support

[2021-11-21 06:37] joe-re commented on #97
@wesselvdv

I've tried to parse `SELECT * FRO` and got the below error.

[code]

It says the token at the cursor should be any of "FROM", "GROUP", "LIMIT", "ORDER", "UNION", "WHERE".
Actually, that is the completion way right now we're using, it includes "FROM" keyword and the token "FRO", then we can narrow down to "FROM" keyword from candidates.
Probably you parsed only "SELECT \*" part, I guess

[2021-11-21 10:11] wesselvdv commented on #97
Alright, I see what I did wrong there. I monkey patched the sql-parser directly, and I was indeed only getting `SELECT *` instead of `SELECT * FRO`. When running the `SELECT * FRO` into `libpg-query` I get the following:

[code]

Which is in line with what you're saying, you'd like to see the possible keywords it could be instead of just a syntax error.

[2021-11-21 22:27] joe-re commented on #97
@wesselvdv
Thanks for your info!

Yes, that's why right now we have our own parser.. I'll close it for now though, please let us know if you have any information for a great parser or solution, thanks. 🙏

[2021-11-21 22:28] #97 closed, assigned to wesselvdv, joe-re

[2021-12-07 00:39] #68 closed, assigned to nobody

[2021-12-07 20:42] huydinhle opened #98 "cmd not defined with neovim LSP"
I installed with LspInstall and things seem to detect correctly with server starting up okay and everthing. However, I'm seeing `cmd not defined` error whenever I was doing `:LspInfo`. How can I debug this?

![nvim-sql](https://user-images.githubusercontent.com/20393709/145103109-a01cd892-4d6d-4d06-950d-2464fedcd5fd.png)

[2021-12-11 13:19] #69 closed, assigned to joe-re

[2021-12-12 20:40] cccs-jc opened #99 "Question about personal configuration file support"
hey @joe-re when I run sql-language-server within jupyterlab-lsp I configure initialize 2 sql-language-server. One for sparksql and one for trino

[code]

I think you have a means for the user to provide a personal configuration file. `.sqlsrc.json`

is there a way to provide the location of this file. I would like my jupyterlab extension to provide a default `.sqlsrc.json` file.

Also if the user

[2021-12-20 01:29] joe-re commented on #99
@cccs-jc Hi, thank you for your feedback. I guess adding `config` args to specify configuration file would be a good idea.
Like `sql-language-server up --config /tmp/trinodb.schema.json` .
Does this match your use-case?

[2021-12-20 01:32] joe-re commented on #98
@huydinhle Hi, thanks for your report! Sorry I've not used LspInfo and need to know more and have my investigation for your problem.
Anyway, can you make sure that you have `sql-language-server` command that your environment?

[2021-12-23 13:02] cccs-jc opened #100 "Question about associating configuration with mime type"
I'm using sql-language-server within JupyterLab that is using ipython magics %%sparksql and %%trino

https://github.com/CybercentreCanada/jupyterlab-sql-editor

In that environment each magic is associated with mime type of `text/x-sparksql` and `text/x-trino`. There is also an association with file extensions `.sparksql` and `.trino`.

I have registered a sql-language-server for each of these mim

[2021-12-31 18:33] cccs-jc opened #102 "upgrade sqlite"
when I install sql-language-server with a recent version of node I get the following error

 Pre-built binaries not found for sqlite3@4.2.0 and node@17.1.0

Would using sqlite3 version 5.0.1 fix that. Is it okay to upgrade it.

[2022-01-03 19:13] reporter123 opened #103 "False syntax error reported if DROP or ALTER command is used."
The fallowing SQL generates false error from your language serve:

/* Replace with your SQL commands */
DROP TABLE kittens;

![false error1](https://user-images.githubusercontent.com/684470/147969529-f6f7938f-d58c-45c7-8cd4-b8e2c58fa76f.png)

The additional editor highlighting is supplied by "Error Lens" which makes the messages more visable but performs no checks of its own.

A similar message is

[2022-01-20 17:38] levouh opened #106 "Help - Adding Oracle support"
I have beyond zero experience with JS-flavor languages, but am interested in adding _Oracle_ support. Would the best place to base my ventures off of be something like [this](https://github.com/joe-re/sql-language-server/commit/6d9fdff59a43727a236b5e171d8075bc0fc57d78) commit (which added _BigQuery_)?

Any other general advice in this respect?

[2022-01-25 13:13] joe-re commented on #106
@levouh Hi, thanks for your kind offer! Sure, support additional vendor is always welcome!
If you need some our help, please feel free to ping me, thanks. 🙏

[2022-01-25 14:53] levouh commented on #106
Well so the first question was generally around what a good commit/_PR_ to base my changes off of would be. Do you recommend the one that [added BigQuery](https://github.com/joe-re/sql-language-server/commit/6d9fdff59a43727a236b5e171d8075bc0fc57d78) or something else @joe-re?

[2022-01-27 00:10] joe-re commented on #106
@levouh Yes, that PR would be a good example. Basically getting DB info is going to be vendor-specific implementation.
`database_libs` (packages/server/src/database_libs) is expected to wrap this specific implementation part.
So if we want to support additional vendor(in this case, for Oracle) adding `database_libs/OracleClient.ts` would be the first step.

[2022-01-27 00:22] #64 closed, assigned to joe-re

[2022-01-30 19:15] #102 closed, assigned to nobody

[2022-01-31 20:07] joe-re commented on #64
@Iron-E Hi, we've released new feature to support CREATE TABLE statement by 1.2.0. Please check this out!.
If you see any wrong please let us know, thanks. 🙏

[2022-02-01 21:54] joe-re commented on #100
@cccs-jc Hi, thanks for your question and sorry for my late reply.
How about adding `.spartsqk` and `.trino` here?
https://github.com/joe-re/sql-language-server/blob/v1.2.0/packages/client/extension.ts#L25
I'm not familiar with JupyterLab and if there's some problems you can see please share us, thanks.

[2022-02-02 11:34] cccs-jc commented on #100
this is what I did in JupyterLab. When I detect a %%sparksql magic or a .sparksql file extension I trigger a mime type of x-sparksql.

The mime type x-sparksql is associated with a sql-language-server which is configured to use a json schema file containing the spark tables and functions.

I did this because in JupyterLab I have no way to switch between sql-language-server connections (no way to s

[2022-02-03 18:32] joe-re commented on #100
@cccs-jc Hi, thanks for your input.

I see. Then how about set the connection as default? I understand there's no usecases that users want to connect other DBs for `.sparksql` or `.trino` though, if we can provide extra room that a user can overwrite it by configuration file, it's fine.

[2022-02-06 12:19] cccs-jc opened #115 "Complete outer query not working"
Given the following statement ctrl-space at char 8th, to complete the alias fails
[code]
The error is

[2022-02-06] [DEBUG] default - TypeError: Cannot read properties of null (reading 'startsWith')
    at Identifier.matchesLastToken (/opt/conda/lib/node_modules/sql-language-server/dist/src/complete.js:50:29)
    at /opt/conda/lib/node_modules/sql-language-server/dist/src/complete.js:289:34
    at

[2022-02-12 22:41] joe-re commented on #115
@cccs-jc
Hi, thanks for your report. We need to handle the error though, is it the right grammar for some DBs?
I've just tried it on Postgres though, it doesn't go well with alias since select clauses on subquery should have an alias on outside of parens.
Hence, we should show a syntax error rather than showing the alias completion I think.

[code]

If you put the alias to outside of parens, it wo

[2022-02-15 13:26] cccs-jc opened #118 "Issue with release 1.2"
There seems to be an issue with release 1.2.

I've installed it like so

[code]

I'm getting this error when JupyterLab communicates with the sql-language-server
[code]

I checked the version of vscode-languageserver using

[code]
it is at version vscode-languageserver@8.0.0-next.8

this version is different than the one specified in the source code which is vscode-languageserver@8.0.0-next.3

And

[2022-02-16 01:02] joe-re commented on #118
@cccs-jc Hi, thanks for your report. Let me try to fix the problem.

[2022-02-16 17:29] cccs-nik commented on #118
Hello @joe-re,

I took a look on behalf of jc, the fix seems to be pretty simple.
https://github.com/joe-re/sql-language-server/blob/release/packages/server/package.json#L53
That package's version should be '^8.0.0-next.7' and this import:
https://github.com/joe-re/sql-language-server/blob/release/packages/server/src/createServer.ts#L7
should be 'vscode-languageserver/lib/common/textDocuments'.

I

[2022-02-16 22:46] #118 closed, assigned to joe-re

[2022-02-16 23:32] joe-re commented on #118
@cccs-jc @cccs-nik Hi, thanks for your guy's support. I fixed the problem and released v1.2.1. Please check it out and confirm it works. Thanks. 🙏

[2022-02-17 13:24] cccs-jc commented on #115
You are totally right @joe-re. My mistake. I'm closing this issue.

Cheers

[2022-02-17 13:24] #115 closed, assigned to joe-re

[2022-02-17 16:33] cccs-nik commented on #118
Looks good on our end. Thanks for the quick fix!

[2022-04-14 15:26] EdmundsEcho opened #127 "postgresql meta syntax support"
Thank you for the ls for sql.  Is there a way to have the linter ignore lines that include postgresql meta?

For instance, the first line in the following:

[code]

[2022-04-14 15:43] EdmundsEcho opened #128 "how to solve Error NO_RESULT_CALLBACK_FOUND"
When I open nvim to a `.sql` file, I get the following error:

[code]

I suspect it is related to connecting to my db?  (seems like the easiest place for things to go wrong?)

I have the following project configuration located in the project root (I don't have a personal config):

[code]

Note the `sslmode`  is not documented, but is used to connect to digital ocean.

## Question

What does the ab

[2022-04-22 17:32] pedropombeiro opened #129 "Syntax error on correct SQL file"
I've just managed to install the language server together with NeoVim/CoC, and I'm getting this error:

![2022-04-22 at 19 28](https://user-images.githubusercontent.com/138074/164764788-54a863f4-13b3-4c2e-88bb-2b8ac591294a.png)

Here's my configuration file (inside `.config/nvim/coc-settings.json`):

[code]

Is `CREATE SCHEMA` supported, or is this some kind of encoding error?

[2022-05-28 11:19] xnuk opened #131 "`@joe-re/sql-parser` does not understand `STRICT` or `WITHOUT ROWID`"
[code]

Output:
[code]

[2022-06-09 16:13] avegancafe commented on #128
I'm also getting this error, did you ever figure out how to solve this? @EdmundsEcho

[2022-06-15 00:59] EdmundsEcho commented on #128
@keyboard-clacker Paused the idea of using it... the feature/plugin seems useful but beyond the "risk benefit" ratio for getting it to work :(  I went with having a pdf of the db schema displayed nearby; works every time :))

[2022-06-16 01:03] avegancafe commented on #128
Hahah fair enough @EdmundsEcho

[2022-06-17 05:12] wongjiahau commented on #129
Same issue here

[2022-06-23 18:51] krassowski opened #132 "Missing documentation for `jupyterLabMode`, `projectID`, `keyFile`"
The README.md does not document some of the available configuration options: `jupyterLabMode`, `projectID`, `keyFile` which are defined in:

https://github.com/joe-re/sql-language-server/blob/9ef1cb11dcd0cd6ac8c486f45a0db2dbc29c2a89/packages/server/src/SettingStore.ts#L32-L36

It would be easier to use them if they were documented :)

[2022-07-09 23:45] carrichi commented on #128
I just have the same problem and I spent a lot of hours trying to find the way to resolve it in the documentation.
And then, I find this issue hahahaha ):

[2022-07-14 18:40] theCollectiv commented on #128
Got that Problem too.

Did install sqlls via williamboman/nvim-lsp-installer.
I really tried the minimal configuration with a Project configuration file, but no success.

[code]

Afterwards, I tried to config the neovim/nvim-lspconfig, but no success

[code]

But there is one thing, where it should work in the minimal config:
If you enter `psql`, you can switch to your default editor (neovim) with

[2022-09-04 15:43] Wild-W commented on #72
I also cannot get the extension to work for me. I'm using Windows 10 x64 on the latest version of VSCode (1.71), trying to connect to a SQLite database using the workspace settings.json.
[code]
Upon saving these settings the extension gives me an error telling me to rebuild and when I do, it instantly completes, but I don't seem to get any autocomplete.

[2022-09-04 20:11] bkerin opened #137 "scary warning on install"
I'm new to node/npm/current JS scene etc. so I'm not sure how to investigate this but the npm i -g sql-language-server says
some worrying stuff.  npm i --package-lock-only then npm audit just said "found 0 vulnerabilities" so not sure what to do:

$ npm --version
8.15.0
$ node --version
v16.17.0
$ npm i -g sql-language-server
npm WARN deprecated source-map-url@0.4.1: See https://github.com/lydell/

[2022-09-04 20:59] bkerin opened #138 "doesn't seem to know about e.g. .bail on"
Tried to use on an sqlite3 script via Coc but it doesn't like .bail on as shown in attached screenshot.  I couldn't figure out how to tell it about that.

![screenshot](https://user-images.githubusercontent.com/7434164/188333267-4a3a3ebc-77cf-4e3e-b365-40f2cb5c0e99.jpg)

[2022-09-11 09:38] addlistener opened #139 "How can I change the rootPath for mac?"
Mac does not have the path of /opt. How can I change it?

[code]

[2022-09-11 11:55] addlistener commented on #139
Nevermind found it. It's in the client

<img width="757" alt="image" src="https://user-images.githubusercontent.com/4531670/189526165-8e88ef25-09e8-4bf1-b5ef-35470b9175e7.png">

[2022-09-11 11:55] #139 closed, assigned to nobody

[2022-09-13 21:21] wuziqiu666 commented on #128
Got that Problem too.

[2022-09-27 02:44] chengchengpei opened #141 "missing > ?"
here https://github.com/joe-re/sql-language-server/blob/release/example/monaco_editor/src/index.html#L11

[2022-09-28 09:52] wongjiahau commented on #128
I have this problem too

[2022-09-29 21:41] asdf8601 commented on #128
me too, I've got the following log:

[code]

aparently it's correctly configurated but something is not working properly.

![image](https://user-images.githubusercontent.com/6231413/193240467-a5def511-34bc-47b1-8ddb-21aa4a5613f4.png)

[2022-10-04 04:01] Wild-W opened #142 "Cannot connect to a sqlite3 database (using vscode extension)"
Platform: Windows 10.0.19
Editor: VScode 1.71.2

settings.json:
[code]

Saving settings.json produces this
![image](https://user-images.githubusercontent.com/39774593/193731206-90ad82e0-9ab1-4b0c-bd28-6f984ffa2d9b.png)

Running "SQLLanguageServer: Rebuild SQLite3 Client" produces these in very quick succession (like no loading had even occured):
![image](https://user-images.githubusercontent.com/3

[2022-10-20 01:34] ignamartinoli commented on #128
Same issue here

[2022-10-22 10:52] raymon-roos commented on #128
Same story here.

[2022-11-06 09:09] psteinroe commented on #128
Same here!

[2022-11-15 21:31] znoble360 commented on #129
I have the same error happening, but mine is complaining about "DROP". Too bad this seems to not be working with coc.nvim

[2022-11-15 21:33] znoble360 commented on #129
I am also using postgresql as well, maybe the issue has something to do with that?

[2022-11-21 15:51] florentsorel commented on #128
Same here